body {
    background-color: #e6ede8;
    height: 100%;
}

.myButton {
    position: absolute;
    top: 50%;
    background-color:#44c767;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

.myButton:hover {
    background-color:#5cbf2a;
}

.wrapper {
    text-align: center;
}



.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.horizontal-layout {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.left-panel {
  width: 30%;
  height: 100%;
  background-color: #f2f2f2;
}

.right-panel {
  flex-grow: 1;
  height: 100%;
  background-color: #fff;
}


.btn {
  display: inline-block;
  padding: 10px;
  background-color: lightblue;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: blue;
}

.btn.active {
  background-color: green;
}

.btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}
