.contact-table {
	border-collapse: collapse;
	width: 100%;
}

.contact-table th {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

.contact-table th:hover {
	background-color: #3E8E41;
}

.contact-table td, .contact-table th {
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
}

.contact-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.contact-table tr.selected {
	background-color: #c1d8ff;
}

.contact-table th {
	position: relative;
}

.contact-table th::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	transform: translateY(-50%);
}

.contact-table th.ascending::after {
	border-bottom: 5px solid #333;
}

.contact-table th:not(.ascending)::after {
	border-top: 5px solid #333;
}

/* .pagination-controls { */
/*   display: flex; */
/*   flex-wrap: wrap; */
/*   justify-content: center; */
/*   align-items: center; */
/*   margin-top: 20px; */
/*   margin-bottom: 20px; */
/* } */

/* .pagination-controls button { */
/*   background-color: #f1f1f1; */
/*   color: #333; */
/*   border: 1px solid #ddd; */
/*   text-align: center; */
/*   padding: 5px 10px; */
/*   text-decoration: none; */
/*   transition: background-color 0.3s, color 0.3s; */
/*   cursor: pointer; */
/*   margin: 0 5px; */
/*   font-size: 14px; */
/* } */

/* .pagination-controls button:hover { */
/*   background-color: #4caf50; */
/*   color: white; */
/*   border-color: #4caf50; */
/* } */

/* .pagination-controls button:focus { */
/*   outline: none; */
/* } */

/* .pagination-controls button:focus-visible { */
/*   box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); */
/* } */
.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.pagination-button {
	background-color: transparent;
	border: 1px solid #ccc;
	color: #333;
	cursor: pointer;
	font-size: 14px;
	padding: 6px 12px;
	margin-right: 4px;
}

.pagination-button:hover {
	background-color: #f1f1f1;
}

.page-count, .items-per-page {
	font-size: 14px;
	margin-left: 8px;
	margin-right: 8px;
}